<?xml version="1.0" encoding="utf-8"?>
<ArrayOfCityEvent xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <CityEvent>
        <Header>Выставка картин</Header>
        <Description>Приглашаем всех желающих на выставку картин!</Description>
        <Image>Assets/img/pics.jpg</Image>
        <Date>11 марта, 12:00</Date>
        <Category>
            <Culture>true</Culture>
        </Category>
    </CityEvent>
    <CityEvent>
        <Header>Открытие планетария в Новосибирске</Header>
        <Description>Приглашаем всех детей Новосибирска в наш планетарий!</Description>
        <Image>Assets/img/planet.jpg</Image>
        <Date>10 марта, 12:00</Date>
        <Category>
            <Culture>true</Culture>
            <Children>true</Children>
        </Category>
        <Price>1000</Price>
    </CityEvent>
    <CityEvent>
        <Header>Пробежка на свежем воздухе</Header>
        <Description>Утренняя пробежка в центральном парке, приходите, будет весело!</Description>
        <Image>Assets/img/run.jpg</Image>
        <Date>10 марта, 09:00</Date>
        <Category>
            <Lifestyle>true</Lifestyle>
        </Category>
        <Price>1000</Price>
    </CityEvent>
    <CityEvent>
        <Header>Тренажерный зал</Header>
        <Description>Приглашаем вас в новый тренажорный зал</Description>
        <Image>Assets/img/gym.jpg</Image>
        <Date>23 марта, 12:00</Date>
        <Category>
            <Lifestyle>true</Lifestyle>
        </Category>
        <Price>1000</Price>
    </CityEvent>
    <CityEvent>
        <Header>Подземка</Header>
        <Description>Ну кто не знает эту "подземку"...</Description>
        <Image>Assets/img/underground.jpg</Image>
        <Date>Каждый день</Date>
        <Category>
            <Party>true</Party>
        </Category>
        <Price>1</Price>
    </CityEvent>
    <CityEvent>
        <Header>Суббота в НеБаре</Header>
        <Description>В эту субботу будет крутая тусовка!</Description>
        <Image>Assets/img/nebar.jpg</Image>
        <Date>25 марта, 18:00</Date>
        <Category>
            <Party>true</Party>
        </Category>
        <Price>1000</Price>
    </CityEvent>
    <CityEvent>
        <Header>Поездка в Казахстан</Header>
        <Description>Великолепная страна, с прекрасной душой.</Description>
        <Image>Assets/img/kz.jpg</Image>
        <Date>12 марта, 12:00</Date>
        <Category>
            <Education>true</Education>
            <Excursions>true</Excursions>
        </Category>
        <Price>1000</Price>
    </CityEvent>
    <CityEvent>
        <Header>Древний язык</Header>
        <Description>Изучаем древний язык, приходите!</Description>
        <Image>Assets/img/language.jpg</Image>
        <Date>12 марта, 12:00</Date>
        <Category>
            <Education>true</Education>
            <Excursions>true</Excursions>
        </Category>
        <Price>1000</Price>
    </CityEvent>
    <CityEvent>
        <Header>Курсы по программированию</Header>
        <Description>На курсе вы познакомитесь с языком Python 3.</Description>
        <Image>Assets/img/course.jpg</Image>
        <Date>13 марта, 15:00</Date>
        <Category>
            <Online>true</Online>
        </Category>
        <Price>1000</Price>
    </CityEvent>
    <CityEvent>
        <Header>Что такое браузер? Курсы для детей</Header>
        <Description>Рассказываем детям о браузерах!</Description>
        <Image>Assets/img/browser.jpg</Image>
        <Date>15 марта, 12:00</Date>
        <Category>
            <Online>true</Online>
			<Children>true</Children>
        </Category>
        <Price>1000</Price>
    </CityEvent>
    <CityEvent>
        <Header>Шоу Comedy Club</Header>
        <Description>Лучшое шоу в России!</Description>
        <Image>Assets/img/cc.jpg</Image>
        <Date>1 апреля, 12:00</Date>
        <Category>
            <Show>true</Show>
        </Category>
        <Price>10000</Price>
    </CityEvent>
    <CityEvent>
        <Header>КВН</Header>
        <Description>Стариковский камеди</Description>
        <Image>Assets/img/kvn.jpg</Image>
        <Date>1 апреля, 12:00</Date>
        <Category>
            <Show>true</Show>
        </Category>
        <Price>10</Price>
    </CityEvent>
    <CityEvent>
        <Header>Соревнования по шахматам</Header>
        <Description>Соревнования по шахматам в Новосибирск!</Description>
        <Image>Assets/img/chess.jpg</Image>
        <Date>1 апреля, 12:00</Date>
        <Category>
            <Sport>true</Sport>
        </Category>
    </CityEvent>
    <CityEvent>
        <Header>Соревнования по настольному теннису во втором зале</Header>
        <Description>Лучший вид спорта!</Description>
        <Image>Assets/img/tt.jpg</Image>
        <Date>1 апреля, 12:00</Date>
        <Category>
            <Sport>true</Sport>
        </Category>
    </CityEvent>
</ArrayOfCityEvent>